 <div class="card mt-4 {{size}}">
        <a href="/image-post/{{_id}}/detail">
            <img src="{{imageUrl}}" alt="{{imageName}}" class="card-img-top">
        </a>    
        <div class="card-body">   
            <h2 class="card-title">{{title}}</h2> 
            <h3 class="card-subtitle">{{subtitle}}</h3>
            <p class="card-text">
                {{content}}
            </p>            
        </div>
    </div>
